header{
    margin-top: 130px;
    color:lightskyblue;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.TextoIndex{
    color: dimgray;
    text-align:justify;
    font-size: 0.5cm;
    margin-left:6%;
    margin-right:6%;
}
.TextoInicio{
    color: dimgray;
    text-align: center;
    font-size: 0.5cm;
    padding: 70px;
}
.TextoInicio::selection{
    color:lightgreen;
}
.h11{
    color: dimgray;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
button{
    background-color:lightskyblue;
    font-family: 'Times New Roman', Times, serif;
    border: oldlace;
    align-items: center;
    width: 200px;
    height: 50px;
}
button:hover{
    background-color: cornflowerblue;
}
.Centrar {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .mosaic {
    margin-left:10%;
    margin-right:8%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Ajusta el número de imágenes por fila */
    gap: 8px; /* Espacio entre imágenes */
  }
  
  img {
    width: 90%;
    height: 85%;
  }